.container-fluid {
  height: calc(100vh - 126px);
  max-width: auto;
  background-color: #1E1E1E;
  padding: 20px;
}

.default-styling {
  justify-content:flex-start;
  display: flex;
  min-height: 20rem;
  text-align: left;
}

#maps {
  color: blue;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}